@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

@import "tailwindcss";

@theme {
  --color-grey: hsl(0, 0%, 58%);

  --color-blue-700: hsl(235, 18%, 26%);
  --color-blue-800: hsl(234, 29%, 20%);

  --color-red: hsl(4, 100%, 67%);

  --shadow-card: 0 15px 60px 0px rgba(0, 0, 0, 0.25);

  --font-roboto: "Roboto", sans-serif;
}

/* 
button hover gradient background w/ shadow

background: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
*/

@layer utilities {
  .text-preset-1 {
    font-family: var(--font-roboto);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 56px */

    @variant md {
      font-size: 56px;
    }
  }

  .text-preset-2 {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .text-preset-3 {
    font-family: var(--font-roboto);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
  }
}
