@import "https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap";

@import "tailwindcss";

@theme {
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-600: hsl(192, 37%, 48%);

  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-600: hsl(268, 34%, 53%);

  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);

  --color-white: hsl(0, 0%, 98%);

  --font-red-hat-display: "Red Hat Display", sans-serif;
}

@layer utilities {
  .bg-footer-cta {
    background: url("/images/meet-landing-page/mobile/image-footer.jpg")
      lightgray 50% / cover no-repeat;

    @variant md {
      background: url("/images/meet-landing-page/tablet/image-footer.jpg")
        lightgray 50% / cover no-repeat;
    }

    @variant xl {
      background: url("/images/meet-landing-page/desktop/image-footer.jpg")
        lightgray 50% / cover no-repeat;
    }
  }

  .text-preset-1 {
    font-family: var(--font-red-hat-display);
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 900;
    font-feature-settings: "liga" off, "clig" off;

    @variant xl {
      font-size: 64px;
    }
  }

  .text-preset-2 {
    font-family: var(--font-red-hat-display);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 900;
    font-feature-settings: "liga" off, "clig" off;

    @variant xl {
      font-size: 40px;
    }
  }

  .text-preset-3 {
    font-family: var(--font-red-hat-display);
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 4px;
    font-weight: 900;
    font-feature-settings: "liga" off, "clig" off;

    @variant xl {
      font-size: 16px;
    }
  }

  .text-preset-4 {
    font-family: var(--font-red-hat-display);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
    font-feature-settings: "liga" off, "clig" off;

    @variant xl {
      font-size: 18px;
    }
  }

  .text-preset-5 {
    font-family: var(--font-red-hat-display);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 900;
    font-feature-settings: "liga" off, "clig" off;
  }
}
